@model CategoryVM
@{
    ViewData["Title"] = "Index";
}

<h1>Kategori Listeleme</h1>
@if (Model.Categories.Count==0)
{
    <div class="jumbotron">

        Henuz hicbir kategori eklenmemis... Urun eklemek icin <a asp-action="AddCategory" asp-controller="Category">tiklayiniz.</a>
    </div>
}

else
{
    <table class="table table-hover">
        <tr>
            <th>CategoryName</th>
            <th>Description</th>
            <th style="text-align:center" colspan="2">Islemler</th>
        </tr>
        @foreach (Category item in Model.Categories)
        {
    <tr>
        <td>@item.CategoryName</td>
        <td>@item.Description</td>
        <td><a class="btn btn-warning" asp-action="UpdateCategory" asp-controller="Category" asp-route-id="@item.ID">Kategori Guncelle</a></td>
        <td><a class="btn btn-danger" asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@item.ID">Kategori Sil</a></td>
        
    </tr>
        }
    </table>
}
